{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

 <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
 <link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
 <link href="/assets/fontawesome/css/solid.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/academicons.min.css"/>

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}"><i class="fa-brands fa-researchgate fa-fw" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fa-brands fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}"><i class="fa-brands fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fa-brands fa-github fa-fw" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fa-brands fa-stack-overflow fa-fw" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author.youtube }}"><i class="fa-brands fa-youtube fa-fw" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fa-solid fa-graduation-cap" style="color: #000000;"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author.lattes %}
        <li><a href="{{ author.lattes }}"><i class="ai ai-lattes-square ai-fw"></i> Lattes</a></li>
{% endif %}
    </ul>
  </div>
</div>
